/* h1{
    color: pink;
} */

img{
    height: 250px;
    width: 300px;
}

#Header{
    display: flex;
    flex-direction:row;
}

#HeaderContent{
    background-color: lightpink;
    padding-left: 40px;
    width: 100%;
}

button{
    width:100px;
}
